body    {
    background-color: rgb(122, 255, 248)
}
.red {
    background-color: red;
}
.blue {
     background-color: blue;
}
.yellow {
     background-color: yellow;
}
.brown {
    background-color: brown;
}
.green  {
    background-color: green;
}
.yellowgreen    {
    background-color: yellowgreen;
}
.blueviolet {
    background-color: blueviolet;
}
.purple {
    background-color: purple;
}
.black  {
    background-color: black;
}
.block {
    Width: 100px;   height: 100px;  float: left;
}
.row {
    clear: both;
}
h3  {
     
}