Body    {
    Background-color:rgb(66, 212, 244);
}
.About Me{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
.anime  {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-style: Lucida;
}
img {
    height: 250px; Width: 400px;
}
img {
    height: 250px; Width: 400px
}
img {
    height: 250px; Width: 400px
}
h5  {
     font-family: verdana;
}
h3  {
    font-family:  verdana;
}
.missionbit {
    Width: 300px; height: 
}

