Body    {
    Background-color:rgb(66, 212, 244);
}
.AboutMe{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}    
#head nav li   {
    display: inline-block;
    font-display: Roboto Condensed;
    padding: 100px; 
    margin: 50px;
    text-align: center;
}
